<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mariotaku.twidere"
	android:installLocation="auto"
	android:versionCode="33"
	android:versionName="@string/app_version">

	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="16"/>

	<permission-group
		android:name="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:label="@string/label_permission_group_access_twidere"/>

	<permission
		android:name="org.mariotaku.twidere.READ_DATABASES"
		android:description="@string/description_permission_read_databases"
		android:label="@string/label_permission_read_databases"
		android:permissionGroup="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:protectionLevel="dangerous"/>
	<permission
		android:name="org.mariotaku.twidere.WRITE_DATABASES"
		android:description="@string/description_permission_write_databases"
		android:label="@string/label_permission_write_databases"
		android:permissionGroup="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:protectionLevel="dangerous"/>
	<permission
		android:name="org.mariotaku.twidere.ACCESS_SERVICE"
		android:description="@string/description_permission_access_service"
		android:label="@string/label_permission_access_service"
		android:permissionGroup="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:protectionLevel="dangerous"/>

	<uses-feature
		android:name="android.hardware.location"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.location.network"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="org.mariotaku.twidere.READ_DATABASES"/>
	<uses-permission android:name="org.mariotaku.twidere.WRITE_DATABASES"/>
	<uses-permission android:name="org.mariotaku.twidere.ACCESS_SERVICE"/>

	<application
		android:name=".app.TwidereApplication"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.Twidere.Light">
		<uses-library
			android:name="com.google.android.maps"
			android:required="false"/>

		<activity
			android:name=".activity.HomeActivity"
			android:label="@string/app_name"
			android:launchMode="singleTop"
			android:windowSoftInputMode="adjustNothing">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="org.mariotaku.twidere.HOME"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>

			<meta-data
				android:name="android.app.default_searchable"
				android:value=".activity.SearchActivity"/>
		</activity>
		<activity
			android:name=".activity.ComposeActivity"
			android:label="@string/compose"
			android:launchMode="singleTop"
			android:windowSoftInputMode="adjustResize">
			<intent-filter android:label="@string/compose">
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.COMPOSE"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter android:label="@string/share_via_twidere">
				<action android:name="android.intent.action.SEND"/>
				<action android:name="android.intent.action.SEND_MULTIPLE"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="image/*"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.TwitterLoginActivity"
			android:label="@string/login_to_twitter"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.TWITTER_LOGIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/settings"
			android:theme="@style/Theme.Twidere.Light">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
				<action android:name="org.mariotaku.twidere.SETTINGS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AuthorizationActivity"
			android:label="@string/login_to_twitter">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.EditAPIActivity"
			android:label="@string/edit_api"
			android:theme="@style/Theme.Twidere.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.EDIT_API"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SelectAccountActivity"
			android:label="@string/select_account"
			android:theme="@style/Theme.Twidere.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.SELECT_ACCOUNT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.BrowserActivity"
			android:label="@string/browser">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.VIEW_WEBPAGE"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:scheme="file"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AboutActivity"
			android:label="@string/about">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.ABOUT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.FiltersActivity"
			android:label="@string/filter"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.FILTERS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SetColorActivity"
			android:label="@string/set_color"
			android:theme="@style/Theme.Twidere.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.SET_COLOR"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.LinkHandlerActivity"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="user"
					android:scheme="twidere"/>
				<data
					android:host="user_timeline"
					android:scheme="twidere"/>
				<data
					android:host="user_favorites"
					android:scheme="twidere"/>
				<data
					android:host="user_followers"
					android:scheme="twidere"/>
				<data
					android:host="user_friends"
					android:scheme="twidere"/>
				<data
					android:host="user_blocks"
					android:scheme="twidere"/>
				<data
					android:host="status"
					android:scheme="twidere"/>
				<data
					android:host="conversation"
					android:scheme="twidere"/>
				<data
					android:host="direct_messages_conversation"
					android:scheme="twidere"/>
				<data
					android:host="list_details"
					android:scheme="twidere"/>
				<data
					android:host="list_types"
					android:scheme="twidere"/>
				<data
					android:host="list_timeline"
					android:scheme="twidere"/>
				<data
					android:host="list_members"
					android:scheme="twidere"/>
				<data
					android:host="list_subscribers"
					android:scheme="twidere"/>
				<data
					android:host="list_created"
					android:scheme="twidere"/>
				<data
					android:host="list_subscriptions"
					android:scheme="twidere"/>
				<data
					android:host="list_memberships"
					android:scheme="twidere"/>
				<data
					android:host="users_retweeted_status"
					android:scheme="twidere"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SearchActivity"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>

			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="search"
					android:scheme="twidere"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.DirectMessagesActivity"
			android:label="@string/direct_messages">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.DIRECT_MESSAGES"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.DraftsActivity"
			android:label="@string/drafts">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.DRAFTS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.ImageViewerActivity"
			android:label="@string/view_image"
			android:theme="@style/Theme.Twidere.Viewer">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.VIEW_IMAGE"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:scheme="file"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MapViewerActivity"
			android:label="@string/view_map"
			android:theme="@style/Theme.Twidere.Viewer">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="map"
					android:scheme="twidere"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.NativeMapActivity"
			android:label="@string/view_map"/>
		<activity
			android:name=".activity.FileSaveAsActivity"
			android:label="@string/save_as">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.SAVE_FILE"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.ExtensionsListActivity"
			android:label="@string/extensions">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.EXTENSIONS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<service
			android:name=".service.TwidereService"
			android:label="@string/label_backend_service"
			android:permission="org.mariotaku.twidere.ACCESS_SERVICE">
			<intent-filter>
				<action android:name="org.mariotaku.twidere.SERVICE"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</service>

		<provider
			android:name=".provider.TweetStoreProvider"
			android:authorities="org.mariotaku.twidere.provider.TweetStore"
			android:label="@string/label_tweetstore_provider"
			android:readPermission="org.mariotaku.twidere.READ_DATABASES"
			android:writePermission="org.mariotaku.twidere.WRITE_DATABASES"/>
		<provider
			android:name=".provider.RecentSearchProvider"
			android:authorities="org.mariotaku.twidere.provider.SearchRecentSuggestions"/>

		<receiver
			android:name=".receiver.BootCompletedReceiver"
			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
	</application>

</manifest>