<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.mariotaku.twidere"
	android:installLocation="auto"
	android:versionCode="6"
	android:versionName="0.0.5">

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="15"/>

	<permission-group
		android:name="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:label="@string/label_permission_group_access_twidere"/>

	<permission
		android:name="org.mariotaku.twidere.READ_DATABASES"
		android:description="@string/description_permission_read_databases"
		android:label="@string/label_permission_read_databases"
		android:permissionGroup="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:protectionLevel="dangerous"/>
	<permission
		android:name="org.mariotaku.twidere.WRITE_DATABASES"
		android:description="@string/description_permission_write_databases"
		android:label="@string/label_permission_write_databases"
		android:permissionGroup="org.mariotaku.twidere.ACCESS_APPLICATION"
		android:protectionLevel="dangerous"/>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="org.mariotaku.twidere.READ_DATABASES"/>
	<uses-permission android:name="org.mariotaku.twidere.WRITE_DATABASES"/>

	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.location.network"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<application
		android:name=".app.TwidereApplication"
		android:hardwareAccelerated="true"
		android:icon="@drawable/ic_launcher_twidere"
		android:label="@string/app_name"
		android:theme="@style/Theme.Twidere.Light">
		<activity
			android:name=".activity.HomeActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="org.mariotaku.twidere.HOME"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.ComposeActivity"
			android:label="@string/compose"
			android:uiOptions="splitActionBarWhenNarrow"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.COMPOSE"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.TwitterLoginActivity"
			android:label="@string/login_to_twitter"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.TWITTER_LOGIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.GlobalSettingsActivity"
			android:label="@string/global_settings"
			android:theme="@style/Theme.Sherlock.Light.DarkActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.GLOBAL_SETTINGS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AuthorizationActivity"
			android:label="@string/login_to_twitter">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.EditAPIActivity"
			android:label="@string/edit_api"
			android:theme="@style/Theme.Holo.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.EDIT_API"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SelectAccountActivity"
			android:label="@string/select_account"
			android:theme="@style/Theme.Holo.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.SELECT_ACCOUNT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.BrowserActivity"
			android:label="@string/browser">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MapActivity"
			android:label="@string/view_map">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.VIEW_MAP"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AboutActivity"
			android:label="@string/about">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.ABOUT"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.LicenseActivity"
			android:label="@string/license"
			android:theme="@style/Theme.Holo.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.LICENSE"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<provider
			android:name=".provider.TweetStoreProvider"
			android:authorities="org.mariotaku.twidere.provider.TweetStore"
			android:label="@string/label_tweetstore_provider"
			android:readPermission="org.mariotaku.twidere.READ_DATABASES"
			android:writePermission="org.mariotaku.twidere.WRITE_DATABASES">
		</provider>

		<service
			android:name=".service.TwidereService"
			android:label="@string/label_update_service">
		</service>

		<activity
			android:name=".activity.FilterActivity"
			android:label="@string/filter">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.FILTERS"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.SetColorActivity"
			android:label="@string/set_color"
			android:theme="@style/Theme.Holo.Light.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.SET_COLOR"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.DebugConsoleActivity"
			android:label="@string/debug">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<action android:name="org.mariotaku.twidere.DEBUG"/>

				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.LinkHandlerActivity"
			android:label="@string/link_handler"
			android:uiOptions="splitActionBarWhenNarrow">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<data
					android:host="user"
					android:scheme="twidere"/>
				<data
					android:host="status"
					android:scheme="twidere"/>
				<data
					android:host="conversation"
					android:scheme="twidere"/>
				<data
					android:host="search"
					android:scheme="twidere"/>
				<data
					android:host="drafts"
					android:scheme="twidere"/>
			</intent-filter>
		</activity>
	</application>

</manifest>